<div class="col-md-12">
  <span id="foobar"></span>
  <div class="row">
    <graph data="vm.data"></graph>
  </div>
  <div class="row">
    <div class="form-group">
      <input class="form-control" type="text" ng-model="vm.search">
      <button class="btn btn-primary" ng-click="vm.getSimilar(vm.search)">Find Similar</button>
    </div>
  </div>
  <div class="row">
    <table datatable="" dt-options="vm.dtOptions" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Foo</td>
        <td>Bar</td>
      </tr>
      <tr>
        <td>123</td>
        <td>Someone</td>
        <td>Youknow</td>
      </tr>
      <tr>
        <td>987</td>
        <td>Iamout</td>
        <td>Ofinspiration</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



